.social-link a {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 6px;
  width: 35px;
  height: 35px;
  line-height: 34px;
  border: 2px solid #0a3d62;
  background-color: #fff;
}
.social-link a .social-icon {
  font-size: 22px;
  transform: translateX(25%);
}
.youtube {
  transform: translateX(15%) !important;
  color: #ff0000;
}
.linkedin {
  transform: translateX(17%) !important;
  color: #0e76a8;
}
